a {
	text-decoration: none;
	color: #007185;
	margin-left: 36px;
	align-self: center;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	padding: 0;
	margin: 0;
}

.cardContainer {
	background-color: white;
	width: 373px;
	height: 420px;
	padding-top: 20px;
	border-width: 10px;
}

.cardImage {
	align-self: center;
	width: 266.67px;
	height: 304px;
}

.cardFooter {
	padding: 0 20px;
	margin-bottom: 20px;
	position: absolute;
	width: 100%;
}

.Header {
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: -10px;
	background-color: white;
}

.imageContainer {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 373px;
	height: 304px;
}
