a {
	text-decoration: none;
	color: #007185;
	align-self: center;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	padding: 0;
	margin: 0;
}

.cardLayout {
	padding-left: 10px;
	padding-right: 10px;
	height: 420px;
	min-height: 420px;
	min-width: 290px;
	flex: 1 0 21%;
}

.cardContainer {
	border-width: 10px;
	background: #fff;
	height: 100%;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-top: 20px;
}

.cardImage {
	align-self: center;
	width: 310.055px;
	height: 274.992px;
}

.cardImage:hover {
	cursor: pointer;
}

.cardFooter {
	margin-top: 20px;
	align-self: auto;
	padding: 0 20px;
}

.Header {
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: -10px;
	background-color: white;
}

.headerText {
	margin-left: 18px;
}

.imageContainer {
	display: flex;
	justify-content: center;
	background-color: white;
	flex-grow: 1;
	height: 275px;
	margin-bottom: 44px;
	padding: 0 20px;
}

.a-cardui {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	overflow: auto;
	padding: 20px 0 15px 0;
}

@media (max-width: 1239px) .gw-card-layout[data-flow-dir="h"]>.gw-col {
	-webkit-flex-basis: 33.33333%;
	flex-basis: 33.33333%;
	min-width: 33.33333%;
}
