.navTopContainer {
	height: 60px;
	background-color: #131921;
	width: 100%;
	min-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.bottomNavigation {
	height: 39px;
	background-color: #232f3e;
	width: 100%;
	min-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.leftNav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background-color: #131921;
	height: 60px;
	width: 210px;
	padding-left: 4px;
}

.rightNav {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	margin-left: auto;
	flex-shrink: 0;
	background-color: #131921;
	height: 60px;
	width: 400px;
}

.buttonStyle {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	padding-left: 4px;
	padding-right: 8px;
	margin-right: 2px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle2 {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle3 {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle:hover {
	border-color: white;
	border-width: 1px;
}
.buttonStyle2:hover {
	border-color: white;
	border-width: 1px;
}
.buttonStyle3:hover {
	border-color: white;
	border-width: 1px;
}

.buttonTitle {
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 15px;
	margin-right: auto;
}

.homePageIMG {
	height: 50px;
	width: 100px;
	margin-top: 4px;
	margin-left: -2px;
	margin-right: 2px;
	border: 1px solid #131921;
	cursor: pointer;
}

.homePageIMG:hover {
	border: 1px solid white;
}

.locationIMG {
	align-self: center;
	margin-top: 11px;
	margin-right: 2px;
}

.rightNavButton {
	margin-top: auto;
	margin-left: 4px;
	margin-bottom: 6px;
}

.span1 {
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	margin-right: auto;
}

.span2 {
	margin-top: auto;
	margin-right: auto;
	color: white;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
}

.span3 {
	color: #ff9900;
	align-self: center;
	margin-top: auto;
	font-weight: 800;
	font-size: 15px;
}

.spacingSection {
	display: flex;
	flex-direction: column;
}

.flyOutAnchor {
	display: flex;
	position: relative;
	float: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	line-height: 0;
	zoom: 1;
	z-index: 100;
}

.flyOutButton {
	display: block;
	height: 33px;
	margin: 0 10px 0 11px;
	cursor: pointer;
	outline: 0;
	border: 1px solid;
	border-color: #c89411 #b0820f #99710d;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border-radius: 0\9;
	-webkit-box-shadow: inset 0 1px 0 0 #fcf3dc;
	-moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
	box-shadow: inset 0 1px 0 0 #fcf3dc;
	background: #f3cf72;
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#FFF8E3AD',
			endColorstr='#FFEEBA37',
			GradientType=0
		);
	background: linear-gradient(to bottom, #f8e3ad, #eeba37);
	background: -moz-linear-gradient(top, #f8e3ad, #eeba37);
	background: -webkit-linear-gradient(top, #f8e3ad, #eeba37);
	background: -o-linear-gradient(top, #f8e3ad, #eeba37);
	background: -ms-linear-gradient(top, #f8e3ad, #eeba37);
	text-align: center;
	line-height: 31px;
	vertical-align: middle;
	color: #111;
	font-family: inherit;
	text-decoration: none;
	line-height: 30px;
	font-size: 13px;
}
