.navTopContainer {
	height: 60px;
	background-color: #131921;
	width: 100%;
	min-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.bottomNavigation {
	height: 39px;
	background-color: #232f3e;
	width: 100%;
	min-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.leftNav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	background-color: #131921;
	height: 60px;
	width: 210px;
	padding-left: 4px;
}

.rightNav {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	margin-left: auto;
	flex-shrink: 0;
	background-color: #131921;
	height: 60px;
	width: 400px;
}

.buttonStyle {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	padding-left: 4px;
	padding-right: 8px;
	margin-right: 2px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle2 {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 2px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle3 {
	background-color: #131921;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #131921;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.buttonStyle:hover {
	border-color: white;
	border-width: 1px;
}
.buttonStyle2:hover {
	border-color: white;
	border-width: 1px;
}
.buttonStyle3:hover {
	border-color: white;
	border-width: 1px;
}

.buttonTitle {
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 15px;
	margin-right: auto;
}

.homePageIMG {
	height: 50px;
	width: 100px;
	margin-top: 4px;
	margin-left: -2px;
	margin-right: 2px;
	border: 1px solid #131921;
	cursor: pointer;
}

.homePageIMG:hover {
	border: 1px solid white;
}

.locationIMG {
	align-self: center;
	margin-top: 11px;
	margin-right: 2px;
}
