.bodyContainer {
	display: flex;
	flex-direction: column;
	height: 2000px;
	min-width: 1000px;
	overflow: hidden;
	background-color: #eaeded;
}

.styleCarasoul {
	position: absolute;
	align-self: center;

	min-width: 1500px;
}

.styleCardLayout {
	position: absolute;
	align-self: center;
	top: 13%;
}
