.bodyContainer {
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 2000px;
	min-width: 1000px;
	overflow: hidden;
	background-color: #eaeded;
}

.styleCarasoul {
	position: absolute;
	align-self: center;
}

.styleCardLayout {
	position: absolute;
	align-self: center;
	top: 13%;
}
