.bodyContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	background-color: #eaeded;
}

.styleCarasoul {
	position: absolute;
	align-self: center;
}

.styleCardLayout {
	position: absolute;
	align-self: center;
	top: 13%;
}
