.carasoulContainer {
	position: relative;
	height: 600px;
	width: 100%;
	min-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carasoulCard {
	height: 600px;
	width: 100%;
	min-width: 1000px;
}
.carasoulContainer:hover {
	cursor: pointer;
}

.buttonSection {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: transparent;
	margin-bottom: auto;
}

.leftArrow {
	display: flex;
	justify-content: center;
	margin-right: auto;
	width: 80px;
	height: 250px;
	background-color: transparent;
}

.leftArrow:hover {
	cursor: pointer;
}

.rightArrow {
	display: flex;
	justify-content: center;
	margin-left: auto;
	width: 80px;
	height: 250px;
}

.rightArrow:hover {
	cursor: pointer;
}

.slide {
	opacity: 0;
	opacity: 0.01;
	height: 0px;
}

.slideActive {
	/*transition: opacity 300ms ease, height 400ms ease 300ms;*/
	-webkit-animation: slideIn 0.2s forwards;
	-moz-animation: slideIn 0.2s forwards;
	animation: slideIn 0.2s forwards;
}

@-webkit-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@-moz-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
