.carasoulContainer {
	position: relative;
	height: 600px;
	width: 100%;
	min-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
}

.carasoulCard {
	position: absolute;
	height: 600px;
	width: 100%;
	min-width: 1000px;
	width: 1;
}
.carasoulContainer:hover {
	cursor: pointer;
}

.buttonSection {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: transparent;
	margin-bottom: auto;
}

.leftArrow {
	display: flex;
	justify-content: center;
	margin-right: auto;
	width: 80px;
	height: 250px;
	background-color: transparent;
}

.leftArrow:hover {
	cursor: pointer;
}

.rightArrow {
	display: flex;
	justify-content: center;
	margin-left: auto;
	width: 80px;
	height: 250px;
}

.rightArrow:hover {
	cursor: pointer;
}
