.carasoulContainer {
	position: relative;
	height: 600px;
	width: 100%;
	min-width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carasoulCard {
	height: 600px;
	width: 100%;
	min-width: 1000px;
}
.carasoulContainer:hover {
	cursor: pointer;
}

.buttonSection {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: transparent;
	margin-bottom: auto;
}

.leftArrow {
	display: flex;
	justify-content: center;
	margin-right: auto;
	width: 80px;
	height: 250px;
	background-color: transparent;
}

.leftArrow:hover {
	cursor: pointer;
}

.rightArrow {
	display: flex;
	justify-content: center;
	margin-left: auto;
	width: 80px;
	height: 250px;
}

.rightArrow:hover {
	cursor: pointer;
}

.slide {
	position: relative;
	opacity: 0;
	-webkit-animation: slideOut 0.4s forwards;
	-moz-animation: slideOut 0.4s forwards;
	animation: slideOut 0.4s forwards;
}

.slideActive {
	position: relative;
	opacity: 1;
	-webkit-animation: slideIn 0.4s forwards;
	-moz-animation: slideIn 0.4s forwards;
	animation: slideIn 0.4s forwards;
}

@-webkit-keyframes slideIn {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(0);
	}
}
@-moz-keyframes slideIn {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slideOut {
	0% {
		transform: translateY(-1000px);
	}
	100% {
		transform: translateY(0);
	}
}
@-moz-keyframes slideOut {
	0% {
		transform: translateY(-1000px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes slideOut {
	0% {
		transform: translateY(-1000px);
	}
	100% {
		transform: translateY(0);
	}
}
